###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
docfx_project/api/**/api/**
!docfx_project/api/**/index.md
!docfx_project/api/**/toc.yml
docfx_project/api/**/api/toc.yml
docfx_project/api/**/api/index.md
